{% extends 'layouts/base.html' %}

{% block body %}

<!-- Intro -->
<div class="uk-section uk-section-default uk-section-small" id="intro">
    <div class="uk-container">

        <!-- logo -->
        <div class="uk-width-1-1">
            <div class="title">Website to QR code converter</div>
            <div class="sub">Convert a website URL to a scannable QR code.</div>
        </div>

    </div>
</div>
<!-- / Intro -->




<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="" uk-grid>

            <div class="uk-width-1-1@s uk-width-3-5@m">
                <div class="uk-card uk-card-default uk-card-body">

                    <h3 class="">Generate a QR code <span class="uk-clearfix"><a href="#help-modal" class="uk-float-right uk-icon-button help-button uk-animation-slide-right" uk-icon="icon: question" uk-toggle></a></span></h3>

                    <!-- Form -->
                    <form id="qr-form" action="{{ url_for('main.index') }}" method="post">
                        {{ form.csrf_token }}

                        <fieldset class="uk-fieldset">

                            <div class="uk-margin">
                                {{ form.url.label(class="uk-form-label") }}
                                {{ form.url }}
                            </div>

                            {{ form.submit }}

                        </fieldset>

                        {% if form.url.errors %}
                        <div class="uk-alert-danger" uk-alert>
                            <p>{{ form.url.errors[0] }}</p>
                        </div>
                        {% endif %}

                    </form>
                    <!-- / Form -->

                </div>
            </div>

            <div class="uk-width-1-1@s uk-width-2-5@m">
                <div id="borderpop" class="uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle uk-text-center">

                    <div id="arcaloader" style="display: none;" class="uk-cover-container">
                        <img src="{{ url_for('static', filename='images/loader.gif') }}" alt="Loading...">
                    </div>

                    <div id="result" class="uk-text-default">
                        <div>
                            <a href="https://ArcaneSolutions.io" target="_blank">https://ArcaneSolutions.io</a>
                            <img class="qr-placeholder" id="picture" src="{{ url_for('static', filename='images/qr-placeholder.png') }}" alt="https://ArcaneSolutions.io">
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<!-- Overview Section -->
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <h2 class="uk-heading-line uk-text-center"><span>Why Choose QRCode Monkey?</span></h2>

        <div class="uk-grid-match uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
            <div>
                <p>Unlimited lifetime and scanning without limits await with QRCode Monkey. Unlike other QR code generators that have restrictions and expirations, our QR codes are forever functional and have no limitations on scans. Although the QR codes are static, you can add a custom logo with an error correction rate of up to 30%.</p>

                <p>Make your QR code stand out with our customization options. Choose from different designs, shapes, and colors to create a truly unique QR code. Adding attractive colors and gradients can increase the number of scans.</p>
            </div>
            
            <div>
                <p>QRCode Monkey offers high-resolution QR codes suitable for printing. You can create .png files in print quality by setting the pixel size to the highest resolution. We also provide vector formats like .svg, .eps, and .pdf for the best possible quality. The .svg format is recommended because it retains all design settings and is compatible with most vector graphic software.</p>

                <p>Unlike other free QR code makers that only allow low-resolution codes, we offer vector formats that support huge resolutions without losing quality. The .svg format is ideal for further editing. The .pdf and .eps formats only support classic QR codes without customization options.</p>

                <p>All QR codes generated by QRCode Monkey are 100% free for commercial use, so you can use them for any purpose without restrictions.</p>
            </div>
        </div>

    </div>
</section>
<!-- Overview section -->

<!-- HELP MODAL -->
<div id="help-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body help-modal uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

            <h3>Help Panel</h3>
            <dl class="uk-description-list uk-text-warning">
                <dt>URL Requirements:</dt>
                <dd>- Prefix the appropriate protocol [HTTP:// | HTTPS:// | FTP:// | etc]</dd>
                <dd>- Include a TLD [.COM | .ORG | .IO | etc]</dd>
            </dl>

    </div>
</div>
{% endblock %}
